<html ng-app>
<head>
    <title>Improve Math Skills By Self Pacing</title>
    <script src="js/angular.min.js"></script>
    <script src="js/AppCtrl.js"></script>
    <script type="text/x-mathjax-config">
  	MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
	</script>
	<script type="text/javascript"
  	src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
	</script>
</head>
<body ng-controller="AppCtrl">
    <div class="breadcrumbs">
        <div ng-click="App.Tab.settings = false; App.Tab.main = true;" class="active">main</div>
        <div ng-click="App.Tab.main = false; App.Tab.settings = true;">settings</div>
    </div>
    <div class="main" ng-show="App.Tab.main">
        <div class="enter">
            <span class="task">$\int$ {{ App.Task.text }} $dx$</span>
            <br/>
            <span>Enter answer in below input</span>
            <br/>
            <span class="answer">
                <input placeholder="enter answer here ..."
                       ng-model="App.Task.userResponse"
                       ng-change="App.validation()"
                       type="text"/>
            </span>
            <button ng-disabled="!App.Task.userResponse" ng-click="App.testing()">Submit</button>
        </div>

    </div>
    <div class="main" ng-show="App.Tab.settings">
        <div class="enter">
            Settings: <br/>
            <span>Integration:  <input type="checkbox" ng-model="App.Settings.integral"/></span><br/>
            <span>Approximation:  <input type="checkbox" ng-model="App.Settings.approximation"/></span><br/>
            <span>Taylor Series:  <input type="checkbox" ng-model="App.Settings.taylor"/></span><br/>
            <span>Convergence/Divergence:  <input type="checkbox" ng-model="App.Settings.convergence"/></span>
        </div>
    </div>
    <div class="right_section">
        <div>Result:</div>
        <div>
            <div class="left">{{ App.Result.success }}</div>
            <div class="right">{{ App.Result.errors }}</div>
        </div>
    </div>
</body>
</html>